# EXEMPEL PÅ KONFIGURATION
#
# Börja varje sektion med ID-numret för stationen. Kör './findstation.py'
# för att hitta en stations ID-nummer.
#
# Fyll sedan på sektionen med namn på stationen, hur lång tid det tar att gå
# dit, vilka linjer du vill se och vilken riktning dessa åker, samt vilken
# trafiktyp denna sektion ska ha.

1234:                                   # Site-ID i siffror
    site_name: "Centralstationen"       # Namn inom ""
    distance: 16                        # gångavstånd i minuter
    lines:
        12: "Norrtälje"                 # linjenummer: "Ändhållplats"
        34: "Södertälje"
